Alura/Design Patterns/workspace/investimento/bin/*
Alura/Design Patterns/workspace/strategy/bin/*
Alura/Design Patterns/workspace/.metadata/*

Alura/MongoDB/workspace/escolalura/target/*
Alura/MongoDB/workspace/JavaMongo/target/*
Alura/MongoDB/workspace/.metadata/*

Alura/Spring Boot/workspace/forum/target/*
Alura/Spring Boot/workspace/.metadata/*

Alura/Spring MVC/workspace/contas/build/*
Alura/Spring MVC/workspace/.metadata/*

Alura/Spring Security/workspace/forum/target/*
Alura/Spring Security/workspace/.metadata/*

Caelum/Java/.metadata/*

Idiomas/workspace/ditado/bin/*
Idiomas/workspace/.metadata/*
