/home/benedito/Projetos/Alura/Design Patterns/workspace/investimento/bin/
/home/benedito/Projetos/Alura/Design Patterns/workspace/strategy/bin/
/home/benedito/Projetos/Alura/Design Patterns/workspace/.metadata/

/home/benedito/Projetos/Alura/MongoDB/workspace/escolalura/target/
/home/benedito/Projetos/Alura/MongoDB/workspace/JavaMongo/target/
/home/benedito/Projetos/Alura/MongoDB/workspace/.metadata/

/home/benedito/Projetos/Alura/Spring Boot/workspace/forum/target/
/home/benedito/Projetos/Alura/Spring Boot/workspace/.metadata/

/home/benedito/Projetos/Alura/Spring MVC/workspace/contas/build/
/home/benedito/Projetos/Alura/Spring MVC/workspace/.metadata/

/home/benedito/Projetos/Alura/Spring Security/workspace/forum/target/
/home/benedito/Projetos/Alura/Spring Security/workspace/.metadata/

/home/benedito/Projetos/Caelum/Java/.metadata/

/home/benedito/Projetos/Idiomas/workspace/ditado/bin/
/home/benedito/Projetos/Idiomas/workspace/.metadata/

